/* Styles */

#ext-sidebar {
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 500000000000;
	width: 20%;
	background: teal;
	box-shadow: 0px 0px 8px rgba(0,0,0,.35);
	opacity: 1;
	font-family: sans-serif;
	font-size: 16px;
	color: white;
	padding: 16px;

	-webkit-transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-moz-transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-o-transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

#ext-sidebar.hidden {
	width: 2%;
	opacity: 0.25;
	box-shadow: 0px 0px 8px rgba(0,0,0,.05);

	-webkit-transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-moz-transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	-o-transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
	transition: width 0.25s ease-in-out, opacity 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}

#ext-sidebar.hidden iframe {
	display: none;
}

#ext-sidebar a.button {
	display: block;
	padding: 0.5rem 1rem;
	font-weight: bold;
	color: #fff;
}

#ext-sidebar a.button.hidden {
	display: none;
}

iframe {
	width: 80%;
	height: 100%;
	margin: 1rem auto;
	z-index: 500000000001;
	display: block;
}
#ext-sidebar input, #ext-sidebar textarea { 
    width: 420px; margin-bottom: 16px;
    color: black; 
}
#ext-sidebar input#save { 
    font-weight: bold; width: auto; 
}
#ext-sidebar #submitbutton {
	color: black;
}